{{ bootstrap.load_css() }}

{% include 'head.html' %}

	{% include 'navBar.html' %}

	<body>
        <h2> About This Site </h2>
        <br>
        <p>This program will take photographs of animals in a non-envasive way via Raspberry Pi, Flask, and OpenCV. <br>
            In addition, the project will display images taken via user's local website. It displays an interactive <br>
            search bar that allows user's of this project to search for specific animals that the Raspberry Pi has <br>
            taken or other existing images.
        </p>
        <br>
        <p>
            Learn more about our project by
            <a href="https://github.com/MasonJason23/CST-205-Final-Project">looking at our GitHub</a>
            !
        </p>



		{% include 'footer.html' %}