{{ bootstrap.load_css() }}

<DOCTYPE html>
<html>
	<head>
		<title>CST 205 Final Project</title>
		<link href="style.css" rel="stylesheet" type="text/css"/>
	</head>

    <style type="stylesheet">

    body {
        color: black;
    }
    
    h1, nav, h2 {
        text-align: center;
    }
    
    p {
        text-align: center;
    }
    
    div {
        text-align: center;
    }
    </style>

	<h1>
		Nature Photo Filter
	</h1>
	<br>

	<nav>
		<button>Home</button>
		<button>About</button>
		<input type="text">Search...<button>Search</button>

	</nav>
	<br>

	<body>
        <h2>Search results!</h2>
        <br>
        <p>results of your search will go here!</p>

    </body>
	<br>
	
	<footer>
		CST 205 Multimedia Design. 2021 Aguilar, Casareno, Johnson. <br>
        <strong>Disclaimer:</strong> The information on this webpage is fictious. <br>
        It is used for academic purposes only.
	</footer>


</html>