{{ bootstrap.load_css() }}

<DOCTYPE html>
<html>
	<head>
		<style>
			h1 {text-align: center;}
			p {text-align: center;}
			div {text-align: center;}
		</style>

		<title>
			CST 205 Final Project
		</title>

		<body>
		<h1>
			CST 205 Final Project
		</h1>

		<div class = 'container'>
			<p>
				Credits: {{ imInfo1['user'] }}
			</p>
			<img src="{{ imInfo1['webformatURL'] }}" width="500" hieght="500" class="img-fluid rounded">
		</div>

		<div class = 'container'>
			<p>
				Credits: {{ imInfo2['user'] }}
			</p>
			<img src="{{ imInfo2['webformatURL'] }}" width="500" hieght="500" class="img-fluid rounded">
		</div>

		<div class = 'container'>
			<p>
				Credits: {{ imInfo3['user'] }}
			</p>
			<img src="{{ imInfo3['webformatURL'] }}" width="500" hieght="500" class="img-fluid rounded">
		</div>

		</body>
	</head>
</html>
