

{% include 'head.html' %}

	{% include 'navBar.html' %}

		<body>
		<h2>
			CST 205 Final Project
		</h2>

		<h2>Image Preview</h2>

		<div class="row">
			<div class="column">
				<img src="{{ imInfo1['webformatURL'] }}" alt="Random Image 1" width="500" height="500">
			</div>
			<div class="column">
				<img src="{{ imInfo2['webformatURL'] }}" alt="Random Image 2" width="500" height="500">
			</div>
			<div class="column">
				<img src="{{ imInfo3['webformatURL'] }}" alt="Random Image 3" width="500" height="500">
			</div>
		</div>

		<br>

		{% include 'footer.html' %}
